<div class="promo-card">
  <a href="#" class="promo-img">
    <img src="{{img}}" alt="">
  </a>
  <div class="promo-info">
    <a href="#" class="promo-title">{{title}}</a>
    <div class="promo-prices">
      <div class="promo-price actual">
        <span>{{price}}</span>
        <svg class="icon icon-ruble"><use xlink:href="#icon-ruble"></use></svg>
      </div>
      <div class="promo-price old">
        <span>{{price_old}}</span>
        <svg class="icon icon-ruble"><use xlink:href="#icon-ruble"></use></svg>
      </div>
    </div>
    <a data-fancybox="" data-src="#addToBasket" data-modal="true" href="javascript:;" class="btn btn-primary">В корзину</a>
  </div>
</div>
