<div href="#" class="service-card-detail">
  <div class="service-card-title-block">
    <svg class="icon {{iconId}}"><use xlink:href="#{{iconId}}"></use></svg>
    <div class="service-card-title">{{title}}</div>
  </div>
  <p>{{text}}</p>
</div>
