<section class="contact-us-section container">
<!--  <div class="container">-->
    <div class="contact-us-content">
      <div class="contact-us-form">
        <div class="form-title">Связаться с нами</div>
        <p>Получите оперативную корнсультацию по нашей продукции и услугам</p>
        <form action="">
          <div class="form-line col-2">
            <div class="form-item">
              <input type="text" placeholder="Ваше имя" >
              <div class="form-item-error">неправильно заполнено поле</div>
            </div>
            <div class="form-item">
              <input type="tel" placeholder="Номер телефона">
              <div class="form-item-error">неправильно заполнено поле</div>
            </div>
          </div>
          <div class="form-line">
            <div class="form-item">
              <textarea placeholder="Сообщение или вопрос"></textarea>
              <div class="form-item-error">неправильно заполнено поле</div>
            </div>
          </div>
          <div class="form-line">
              <button type="submit" class="btn btn-primary">Отправить</button>
          </div>

        </form>
      </div>
      <div class="contact-us-img">
        <img src="/images/contact-us-img.png" alt="">
      </div>
    </div>
<!--  </div>-->

</section>
