<section class="about-section container1">
  <div class="container">
    <h3>О Первом</h3>
  </div>
    <div class="about-content container">
      <div class="about-text">
        <p>Уважаемый Заказчик! Мы рады приветствовать Вас на нашем сайте и надеемся, что мы поможем Вам в решении возникших вопросов и задач. Ресурс «ПЕРВЫЙ ЭЛЕКТРИЧЕКИЙ» был создан как сервис абсолютно нового формата, для реализации помощи в сегменте электроэнергетики B2B и B2C с использованием Интернет ресурса, интегрированного с нашим десятилетним опытом работы в этой области.</p>
        <p>Идея нашего Сервиса – это совместное с Вами развитие в рынке предлагаемых услуг, создание максимально комфортных условий для профессиональной самореализации наших Заказчиков и обоюдные безопасность, стабильность и уверенность в завтрашнем дне.</p>
        <p>Мы создали «ПЕРВЫЙ ЭЛЕКТРИЧЕСКИЙ» для Вас – наших Клиентов, Заказчиков, Партнеров, Собственников Объектов и Инвесторов! Нам интересна стратегия нашего взаимодействия и Ваш Успех, поэтому, на данном сайте Вы найдете уникальные, а где то и беспрецедентные предложения для Вашего Бизнеса или Объекта!</p>
        <p>Поставив перед собой Задачу – обеспечить наших Заказчиков лучшим комплексным сервисом, Мы предложили главное – Компетенции, Скорость, Возможность выбора и Уникальную лояльную программу.</p> 
        <p>Мы будем рады видеть Вас в Нашей Команде «ПЕРВЫХ», готовы принять Ваш заказ и немедленно приступить к его исполнению.</p>
      </div>
      <img src="/images/about-section.png" alt="" class="about-img">
    </div>

</section>
