<section class="question-section container">
  {{#if title}}
    <h3>{{title}}</h3>
  {{/if}}
  <div class="question-content">
    <div class="question-card">
      <div class="question-title">
        <span><span>Как произвести оплату товара?</span></span>
        <svg class="icon icon-plus"><use xlink:href="#icon-plus"></use></svg>
        <svg class="icon icon-minus"><use xlink:href="#icon-minus"></use></svg>
      </div>
      <div class="question-answer">
        <div class="question-answer-content">
          <p>Оплату можно произвести наличным либо безналичным расчетом.</p>
          <p>В первом случае, мы выставляем Вам счет на оплату товаров, предварительно согласовывая все моменты. Вы оплачиваете счет, и получаете свой товар. Данный способ используются в основном юридическими лицами.</p>
          <p>Во втором случае, возможна оплата наличными. Оплата производится курьеру, либо при вывозе товара с нашего склада.</p>
          <p>Оплату можно произвести наличным либо безналичным расчетом.</p>
          <p>Оплату можно произвести наличным либо безналичным расчетом.</p>
          <p>В первом случае, мы выставляем Вам счет на оплату товаров, предварительно согласовывая все моменты. Вы оплачиваете счет, и получаете свой товар. Данный способ используются в основном юридическими лицами.</p>
          <p>Во втором случае, возможна оплата наличными. Оплата производится курьеру, либо при вывозе товара с нашего склада.</p>
          <p>Оплату можно произвести наличным либо безналичным расчетом.</p>
          <p>Оплату можно произвести наличным либо безналичным расчетом.</p>
          <p>В первом случае, мы выставляем Вам счет на оплату товаров, предварительно согласовывая все моменты. Вы оплачиваете счет, и получаете свой товар. Данный способ используются в основном юридическими лицами.</p>
          <p>Во втором случае, возможна оплата наличными. Оплата производится курьеру, либо при вывозе товара с нашего склада.</p>
          <p>Оплату можно произвести наличным либо безналичным расчетом.</p>
        </div>
      </div>
    </div>

    <div class="question-card">
      <div class="question-title">
        <span><span>Есть ли скидки для оптовых покупателей?</span></span>
        <svg class="icon icon-plus"><use xlink:href="#icon-plus"></use></svg>
        <svg class="icon icon-minus"><use xlink:href="#icon-minus"></use></svg>
      </div>
      <div class="question-answer">
        <div class="question-answer-content">
          <p>Оплату можно произвести наличным либо безналичным расчетом.</p>
          <p>В первом случае, мы выставляем Вам счет на оплату товаров, предварительно согласовывая все моменты. Вы оплачиваете счет, и получаете свой товар. Данный способ используются в основном юридическими лицами.</p>
          <p>Во втором случае, возможна оплата наличными. Оплата производится курьеру, либо при вывозе товара с нашего склада.</p>
        </div>
      </div>
    </div>

    <div class="question-card">
      <div class="question-title">
        <span><span>Cколько стоит доставка?</span></span>
        <svg class="icon icon-plus"><use xlink:href="#icon-plus"></use></svg>
        <svg class="icon icon-minus"><use xlink:href="#icon-minus"></use></svg>
      </div>
      <div class="question-answer">
        <div class="question-answer-content">
          <p>Оплату можно произвести наличным либо безналичным расчетом.</p>
          <p>В первом случае, мы выставляем Вам счет на оплату товаров, предварительно согласовывая все моменты. Вы оплачиваете счет, и получаете свой товар. Данный способ используются в основном юридическими лицами.</p>
          <p>Во втором случае, возможна оплата наличными. Оплата производится курьеру, либо при вывозе товара с нашего склада.</p>
      </div>
      </div>
    </div>


  </div>

</section>
