<section class="shop2home-section container">
<!--  <div class="container">-->
    <h3>Услуга “Магазин к дому”</h3>
    <div class="shop2home-content">

      <div class="shop2home-text">
        <p>Данная услуга предполагает вызов Машины Первого прямо к дому, локация размещения авто до 100 м от указанной точки. Машина приезжает, заказ сопровождает консультант-экспедитор на месте, на месте оплачивается товар.</p>
        <p>Услуга вызова оплачивается перед выездом авто. Авто находится в указанной локации для подбора товара не более 30 мин.</p>
        <a data-fancybox="" data-src="#orderDelivery" data-modal="true" href="javascript:;" class="btn btn-primary">Вызвать машину</a>
      </div>

      <div class="shop2home-img">
        <img src="/images/car.png" alt="">
      </div>

    </div>
<!--  </div>-->

</section>
