<!DOCTYPE html>
<html lang="ru">
{{> partials/head title='Каталог Детальная'}}

<body>
{{> partials/header}}

<section class="top-block container">
<!--  <div class="container">-->
    <ul class="breadcrumbs">
      <li class="breadcrumbs-item">
        <a href="#">главная</a>
      </li>
      <li class="breadcrumbs-item">
        <a href="#">Каталог</a>
      </li>
      <li class="breadcrumbs-item active">Кабель и провод. Силовой и слаботочный</li>
    </ul>
    <h1>Кабель и провод. Силовой и слаботочный</h1>
<!--  </div>-->

</section>

<section class="catalog-item container">
  <div class="catalog-item-img">
    <img src="/images/cat-item.png" alt="">
  </div>
  <div class="catalog-item-description">
    <p>Артикул: <span class="excretion">11870810</span></p>
    <p>Производитель: <span class="excretion">IEK</span></p>
    <p>Бокс с прозрачной крышкой КМПн 2/4 для 4-х автоматических выключателей наружной установки IEK MKP42-N-04-30-12</p>
    <div class="line"></div>
    <p>Для установки в жилых и офисных помещениях часто требуются компактные электрические распределители. Боксы серии КМПн, которые отличает современный дизайн и обтекаемые формы, подойдут к любому интерьеру.</p>
    <div class="price-block">
      <div class="prices">
        <div class="price actual">
          <span>459000</span>
          <svg class="icon icon-ruble"><use xlink:href="#icon-ruble"></use></svg>
        </div>
        <div class="price old">
          <span>520900</span>
          <svg class="icon icon-ruble"><use xlink:href="#icon-ruble"></use></svg>
        </div>
      </div>
      <a href="#" class="">В наличии</a>

    </div>
    <div class="to-basket">
      <div class="form-item">
        <input type="number" min="1" data-input-id="abc" value="1">
        <div class="number-arrows" data-input-id="abc">
          <div class="arrow up" ></div>
          <div class="arrow down" ></div>
        </div>
      </div>
      <a href="#" class="btn btn-primary">В корзину</a>

    </div>
  </div>
  <div class="specifications-block">
    <h3>Характеристики</h3>
    <div class="table">

      <div class="tr">
        <div class="td">Тип монтажа:</div>
        <div class="td">Навесной</div>
      </div>

      <div class="tr">
        <div class="td">Кол-во рядов:</div>
        <div class="td">1</div>
      </div>

      <div class="tr">
        <div class="td">Тип крышки:</div>
        <div class="td">Закрытого типа</div>
      </div>

      <div class="tr">
        <div class="td">Ширина по количеству модульных расстояний:</div>
        <div class="td">4</div>
      </div>

      <div class="tr">
        <div class="td">Вес, кг:</div>
        <div class="td">0.14</div>
      </div>

      <div class="tr">
        <div class="td">Страна-производитель:</div>
        <div class="td">Польша</div>
      </div>

      <div class="tr">
        <div class="td">Ширина, мм:</div>
        <div class="td">104</div>
      </div>

      <div class="tr">
        <div class="td">Высота, мм:</div>
        <div class="td">146</div>
      </div>
    </div>
  </div>
</section>


{{> partials/promo title='С этим товаром также покупают' linkText='Показать еще'}}
{{> partials/contact-us}}


{{> partials/footer}}
{{> partials/scripts}}
</body>
</html>

