<!DOCTYPE html>
<html lang="ru">
{{> partials/head title='Каталог-2'}}

<body>
{{> partials/header}}

<section class="top-block container">
<!--  <div class="container">-->
    <ul class="breadcrumbs">
      <li class="breadcrumbs-item">
        <a href="#">главная</a>
      </li>
      <li class="breadcrumbs-item">
        <a href="#">Каталог</a>
      </li>
      <li class="breadcrumbs-item active">Кабель и провод. Силовой и слаботочный</li>
    </ul>
    <h1>Кабель и провод. Силовой и слаботочный</h1>
<!--  </div>-->

</section>

{{> partials/promo n='4' linkText='Показать еще'}}
{{> partials/shop-to-home}}
{{> partials/contact-us}}


{{> partials/footer}}
{{> partials/scripts}}
</body>
</html>

