<!DOCTYPE html>
<html lang="ru">
{{> partials/head title='Каталог 1'}}

<body>
{{> partials/header}}

<section class="top-block container">
<!--  <div class="container">-->
    <ul class="breadcrumbs">
      <li class="breadcrumbs-item">
        <a href="#">главная</a>
      </li>
      <li class="breadcrumbs-item">
        <a href="#">Lorem ipsum dolor</a>
      </li>
      <li class="breadcrumbs-item">
        <a href="#">Lorem ipsum</a>
      </li>
      <li class="breadcrumbs-item active">Каталог</li>
    </ul>
    <h1>Каталог</h1>
<!--  </div>-->

</section>

{{> partials/category}}
{{> partials/shop-to-home}}
{{> partials/contact-us}}


{{> partials/footer}}
{{> partials/scripts}}
</body>
</html>

