<!DOCTYPE html>
<html lang="ru">
  {{> partials/head title='1 Электический'}}

  <body>
  {{> partials/header}}

  <div class="container" style="padding-top: 400px; display: flex; flex-wrap: wrap">
    <style>
      .container > a.btn {
        max-width: 200px;
        margin-right: 20px;
        margin-bottom: 20px;
      }
    </style>

  <a href="/main.html" class="btn btn-primary">Главная</a>
  <a href="/catalog-1.html" class="btn btn-secondary">Каталог-1</a>
  <a href="/catalog-2.html" class="btn btn-primary">Каталог-2</a>
  <a href="/catalog-detail.html" class="btn btn-secondary">Каталог Детальная</a>
  <a href="/search.html" class="btn btn-primary">Поиск</a>
  <a href="/services.html" class="btn btn-secondary">Услуги</a>
  <a href="/question-answer.html" class="btn btn-primary">Вопрос-ответ</a>
  <a href="/basket.html" class="btn btn-secondary">Корзина</a>
<!--  <a href="/question-answer.html" class="btn btn-primary">Вопрос-ответ</a>-->

</div>
{{> partials/footer}}
{{> partials/scripts}}
</body>
</html>


