<!DOCTYPE html>
<html lang="ru">
{{> partials/head title='Поиск'}}

<body>
{{> partials/header}}

<section class="top-block container">
<!--  <div class="container">-->
    <ul class="breadcrumbs">
      <li class="breadcrumbs-item">
        <a href="#">главная</a>
      </li>
      <li class="breadcrumbs-item active">Поиск</li>
    </ul>
    <h1>Поиск по вашему запросу "Бокс"</h1>
    <div class="result-total">Найдено 10 результатов</div>
<!--  </div>-->

</section>

{{> partials/promo n='4' linkText='Показать еще'}}


{{> partials/footer}}
{{> partials/scripts}}
</body>
</html>

