* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  @include setFontBase(16px,var(--base-color2-light),$ls:0.02em);
}
.container{
  --content-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1600px;
  padding-left: 215px;
  padding-right: 215px;

    @include media-max-width2(1600) {
      padding-left: calc((100% - var(--content-width))/2);
      padding-right: calc((100% - var(--content-width))/2);
    }
    @include media-max-width2(1200) {
      padding-left: 20px;
      padding-right: 20px;
    }
}

.scroll-bar{
  background-color: var(--base-color1)!important;
  border-radius: 2px!important;
}
.scroll-element_track{
  background-color: var(--base-color1)!important;
  opacity: .2!important;
}

a {
  @include setFontBase(16px,var(--base-color1),$ls:0.02em);
  text-decoration: underline;
  cursor: pointer;

    &:hover, &:active {
      color: var(--link-default-hover);
      text-decoration: underline;

    }

}

h1{
  font-size: 48px;
  line-height: 1.17;
  text-transform: uppercase;
  //margin-bottom: 40px;
  //  @include media-max-width2(768) {      margin-bottom: 25px;   }
  @include media-max-width2(576) {      font-size: 30px;   }

}
h3{
  font-size: 24px;
  margin-bottom: 40px;
    @include media-max-width2(768) {      margin-bottom: 25px;   }
    @include media-max-width2(576) {      font-size: 18px;   }

}

p{
  color: var(--base-text);
  margin-bottom: 1em;
}



.top-block {
  background-color: var(--top-block-bgr);
  padding-top: 110px;
  padding-bottom: 40px;

  + section{
    padding-top: 80px;
    @include media-max-width2(768) {padding-top: 50px;}
  }
}

.main-page {
  .top-block {
    background: none;
    padding-top: 0;
    padding-bottom: 0;
    @include media-max-width2(768) {   --top-block-bgr: hsl(218, 36%, 96%); /*#f0f3f8;*/    }

    + section{
      padding-top: 100px;
      @include media-max-width2(768) {padding-top: 50px;}

    }
  }

  .category-section {
    padding-bottom: 170px;
    @include media-max-width2(768) { padding-bottom: 100px; }
  }
}

.main-gradient {
  background-color: var(--top-block-main-page-bgr);//#eef4f8
  background-image: url(../images/top-baner-bgr.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  padding-top: 110px;


  display: flex;


  @include media-max-width2(1600){  background-position-x: calc(100vw - 1500px);}
  @include media-max-width2(992){  background-position-x: calc(100vw - 1300px);}
  @include media-max-width2(800){  background-position-x: calc(100vw - 1200px);}
  @include media-max-width2(767){
    --top-block-main-page-bgr: hsl(218, 36%, 96%);
    background-image: url(../images/header-bg-mobile.png) ;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;

  }

  @include media-max-width2(700){ flex-wrap: wrap; }


}

.main-banner {
  //background: url(../images/top-baner-bgr.png), url(../images/top-baner-bgr-phone.png) ;
  //background: url(../images/top-baner-bgr-phone.png) ;
  background-position: bottom right;
  background-repeat: no-repeat;


  //padding-top: 210px;
  padding-top: 100px;
  padding-bottom: 80px;

  //display: flex;

  //@include media-max-width2(768){    padding-top: 100px;  }
  @include media-max-width2(576){
    width: 100%;
    padding-top: 40px;

    padding-bottom: 5px;
  }

  &-content {
    //display: flex;
  }

  &-img {
    margin-left: auto;
    align-self: flex-end;
    @include media-max-width2(768){
      width: 315px;
      margin-right: auto;
    }

    }

  &-title{
    margin-bottom: 20px;
    max-width: 600px;
    position: relative;

      @include media-max-width2(768){ max-width: 350px;}
      span {
        font-size: 64px;
        line-height: 1.17;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        @include media-max-width2(992){ font-size: 50px;}
        @include media-max-width2(768){ font-size: 36px;}
        @include media-max-width2(576){ font-size: 30px;}

      }

      svg{
        font-size: 10px;
        position: absolute;
      }
  }
  &-slogan{
    font-size: 24px;
    line-height: 28px;
    color: #282828;
    margin-bottom: 40px;
    @include media-max-width2(768){
      font-size: 20px;
      max-width: 340px;
    }

  }
  &-buttons{
    display: flex;
    align-items: center;
    @include media-max-width2(768){   flex-wrap: wrap;}
    //@include media-max-width2(480){   flex-wrap: wrap;}

    .btn {
      margin-bottom: 30px;

      @include media-max-width2(480){  margin-bottom: 0; }

      &:not(:last-child){
        margin-right: 20px;
        @include media-max-width2(480){
          margin-right: 0;
          margin-bottom: 20px;
        }

      }
      @include media-max-width2(480){   width: 100%; }

    }

  }
}

.result-total{
  margin-top: 15px;
  font-size: 12px;
  line-height: 1.35;
  color: #F2A33B;
}

.excretion {
  font-weight: 500;
}