
$grid-breakpoints: (
        xs: 0,
       xxs: 400px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1500px

) !default;

$mainFontSize: 16px;
$fBase: "Gilroy", -apple-system, BlinkMacSystemFont, sans-serif;

$burgerW: 30px;
$burgerH: 20px;
$burgerLineH: 4px;
$burgerPadding: 0px;







